<%= link_to("<< Back to list", sections_path, :class => 'back-link') %>
<div class="sections new">
  <h2>Create Sections</h2>
  <%= form_for(@section) do |f| %>
    <div class ="form-buttons">
      <%= f.submit("Create Section") %>
      <%= render(:partial => 'form', :locals =>{:f => f}) %>
    </div>
  </div>
<% end %>