<!DOCTYPE html>
<html>
  <head>
    <title>Simple Cms: <%= @page_title || "Admin Area" %></title>
  </head>
  <body>
    <% if !flash[:notice].blank? %>
      <div clas="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <!-- before yeald -->
    <%= yield %>
    <!-- after yeald -->
  </body>
</html>